<h1><%= @game.name %></h1>

<p>
  <%= render 'back' %> | <%= link_to 'Edit', edit_game_path(@game) %>
</p>

<p>
  <ul>
    <h3>Recent matches:</h3>
    <% recent_matches = @game.recent_matches %>
    <% if @category; recent_matches = @game.recent_matches_in_category(@category); end %>
    <% recent_matches.each do |match| %>
    <li><%= link_to "#{match.name}", [match.category, match] %> <i>(<%= match.category.name %>)</i></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Delete me", @game, method: :delete, data: {confirm: "Are you sure you want to delete the game '#{@game.name}'? This cannot be undone!"} %>
</p>
