<h1><%= @game.name %></h1>
<% if @category %>
  <h2><%= @category.name %></h2>
<% end %>

<p>
  <% if @category %>
    <%= link_to "View #{@category.name}", @category %> |
  <% end %>
  <%= render 'back' %> | <%= link_to "Edit #{@game.name}", edit_game_path(@game) %>
</p>

<% if @category %>
  <p>
    <%= link_to 'New match', new_category_match_path(@category, game_id: @game) %>
  </p>
<% end %>

<p>
  <ul>
    <h3>Recent matches:</h3>
    <% @game.recent_matches(@category).each do |match| %>
    <li><%= link_to "#{match.name}", [match.category, match] %>
      <% if not @category %>
        <i>(<%= match.category.name %>)</i></li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Delete me", @game, method: :delete, data: {confirm: "Are you sure you want to delete the game '#{@game.name}'? This cannot be undone!"} %>
</p>
