<h1><%= @game.name %></h1>

<p>
  <%= render 'back' %> | <%= link_to 'Edit', edit_game_path(@game) %>
</p>

<p>
  <ul>
    Recent matches:
    <% @game.recent_matches.each do |match| %>
    <li><%= link_to "#{match.name} <i>(#{match.category.name})</i>", [match.category, match] %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Delete me", @game, method: :delete, data: {confirm: "Are you sure you want to delete the game '#{@game.name}'? This cannot be undone!"} %>
</p>
