<%= form_for @player do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'Home Group' %>
    <%= collection_select :player, :favourite_category_id, @player.categories, :id, :name %>
  </p>
  <% if not @player.games.empty? %>
    <p>
      <%= f.label 'Favourite Game' %>
      <%= collection_select :player, :favourite_game_id, @player.games, :id, :name %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>


<h3>Your Groups</h3>
<ul>
  <% @player.categories.each do |category| %>
    <li><%= link_to category.name, category %> <%= link_to "(remove)", player_subscription_path(@player, category), method: :delete, data: {confirm: "Are you sure you want to remove this subscription '#{category.name}'? This cannot be undone!"} %></li>
  <% end %>
</ul>


<%= form_for @player do |f| %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit 'Update password' %>
  </p>

<% end %>
