<%= form_for @player do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'Home Group' %>
    <%= collection_select :player, :favourite_category_id, @player.categories, :id, :name %>
  </p>
  <% if not @player.games.empty? %>
    <p>
      <%= f.label 'Favourite Game' %>
      <%= collection_select :player, :favourite_game_id, @player.games, :id, :name %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= form_for @player do |f| %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit 'Update password' %>
  </p>

<% end %>
