
<%= form_for [@category, @match] do |f| %>

  <!-- <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p> -->

  <p>
    <%= f.label :game %>
    <%#= collection_select :match, :game_id, @category.games, :id, :name %>
    <%= collection_select :match, :game_id, Game.all, :id, :name, selected: @game_id %>
  </p>

  <% @match.teams.each_with_index do |team, i| %>
    <%= render team, team_id: i %>
  <% end %>

  <% if @match.teams.count < 2 %>
    <% (2 - @match.teams.count).times do |i| %>
      <%= render Team.new, team_id: i %>
      <p>
        OR
      </p>
      <p>
        <%= f.label "Existing team" %>
        <%#= collection_select :match, :game_id, @category.games, :id, :name %>
        <%= collection_select :team, :team_id, Team.size_at_least(2), :id, :name, {include_blank: true}, {name: "team[#{i}]"} %>
      </p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<div id="add_player_html" style="display: none;">
  <%= render 'add_player', team_num: 0 %>
</div>

<div id="add_team_html" style="display: none;">
  <%= render 'add_team' %>
</div>
