<h1><%= @match.name %></h1>
<h2><%= @match.game.name %></h2>

<p>
  <%= render 'back' %> | <%= link_to 'Edit', edit_category_match_path() %>
</p>

<p>
    <!-- <h3>Details:</h3> -->
    <% @match.teams.each do |team| %>
      <% if team.players.count == 1 %>
        <p><%= link_to team.players.first.name, team.players.first %></p>
      <% else %>
        <p><%= link_to team.name, team %></p>
      <% end %>
    <% end %>

    <p><%= @match.name %></p>
    <% if @match.winner %>
      <p>Winner: <%= @match.winner.name %></p>
    <% end %>

    <% if @match.details %>
      <p>
        <h3>Details</h3>
        <%= @match.details %></p>
    <% end %>
</p>

<p>
  <%= link_to "Delete me", [@match.category, @match], method: :delete, data: {confirm: "Are you sure you want to delete the match '#{@match.name}'? This cannot be undone!"} %>
</p>
