<h1><%= @match.name %></h1>
<h2><%= @match.game.name %></h2>

<p>
  <%= render 'back' %> | <%= link_to 'Edit', edit_category_match_path() %>
</p>

<p>
    <h3>Details:</h3>
    <% @match.teams.each do |team| %>
      <p><%= link_to team.name, team %></p>
    <% end %>
    <p><%= @match.name %></p>
    <p>Winner: <%= @match.winner.name %></p>
</p>

<p>
  <%= link_to "Delete me", [@match.category, @match], method: :delete, data: {confirm: "Are you sure you want to delete the match '#{@match.name}'? This cannot be undone!"} %>
</p>
