<h1><%= @category.name %></h1>

<p>
  <%= render 'back' %> | <%= link_to 'Edit', edit_category_path(@category) %>
</p>

<p>
  <%= link_to 'New match', new_category_match_path(@category) %>
</p>

<p>
  <%= link_to 'Sign in with Google', auth_at_provider_path(:provider => :google, :category => @category.id) %>
</p>

<p>
  <% if current_user and not current_user.categories.include?(@category) %>
    <%= link_to "Subscribe to #{@category.name}", player_subscriptions_path(current_user.id, category_id: @category.id), method: :post %>
  <% end %>
</p>

<p>
  <ul>
    <h3>Recent matches:</h3>
    <% @category.recent_matches.each do |match| %>
      <li><%= link_to "#{match.name}", [match.category, match] %> <i>(<%= match.category.name %>, <%= match.game.name %>)</i></li>
    <% end %>
  </ul>
</p>

<p>
  <ul>
    <h3>Games:</h3>
    <% @games.each do |game| %>
      <li><%= link_to game.name, category_game_path(@category, game) %></li>
    <% end %>
  </ul>
</p>

<p>
  <ul>
    <h3>Top Players:</h3>
    <% @category.top_players.each do |player| %>
      <li><%= link_to player.name, player %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Delete me", @category, method: :delete, data: {confirm: "Are you sure you want to delete the category '#{@category.name}'? This cannot be undone!"} %>
</p>
